<h1>Задание</h1>

<p>Написать программу, определяющую все меньшие n (n ≤ 10<sup>6</sup>) натуральные числа, которые являются палиндромами 
как в десятичной, так и в двоичной системе. При программировании использовать функцию. Вывести на печать все 
найденные числа в десятичной и двоичной системе. Например: 33 - 100001.</p>

<p>Число 0 не является натуральным!</p>

<h2>Форма ввода</h2>

<%= form_with method: :get, url: palindromes_view_path, local: true do |form| %>
  <%= form.number_field :n, required: true, min: 1, max: 1000000, value: '1' %>
  <%= form.submit 'Результат' %>
<% end %>
